@use 'functions';
@use 'colors';

.card {
  margin: 0.2rem;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  cursor: pointer;
  min-height: 130px;
  max-height: 160px;
  max-width: 339px;
  min-width: 150px;
  &:hover {
    filter: brightness(0.9);
  }
  &:active {
    filter: brightness(0.8);
  }

  animation: fadeIn;
  animation-duration: 2s;
}

.card__info {
  h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  span {
    font-size: 0.8rem;
    margin: 0;
    color: colors.$grey_color;
  }
  h3 {
    font-size: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
  }
}

.card__percentage {
  text-align: center;

  h2 {
    font-size: 2.7rem;
    font-weight: bold;
    margin: 0;
  }

  span {
    margin: 0;
    font-size: 1rem;
    color: colors.$grey_color;
  }
}
