@use 'colors';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;

  div {
    margin: 0.3rem;
  }
}

.navbar__user {
  display: flex;
  align-items: center;
}

.navbar__avatar {
  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: colors.$white_color;
    border: 1px solid #ccc;
  }
}

.navbar__greeting {
  font-weight: bold;
  h1 {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }

  span {
    color: colors.$primary-color;
    padding: 0.5rem;
  }
}

.navbar__search {
  input {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 1rem;
    outline: none;
  }
  :focus {
    border: 1px solid colors.$primary_color;
    filter: drop-shadow(0 0 0.2rem colors.$primary_color);
  }
}
