@use 'colors';

.input--primary {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  font-size: 1rem;
  outline: none;

  &:focus {
    border: 1px solid colors.$primary_color;
    filter: drop-shadow(0 0 0.2rem colors.$primary_color);
  }
}

.input--textarea {
  padding: 0.5rem;
  width: 90%;
  height: 10rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  font-size: 1rem;
  outline: none;
  resize: none;

  &:focus {
    border: 1px solid colors.$primary_color;
    filter: drop-shadow(0 0 0.2rem colors.$primary_color);
  }
}