.text__center {
  text-align: center;
}

.text--subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  animation: fadeIn;
  animation-duration: 2s;
}

.text--title {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.5;
  animation: zoomIn;
  animation-duration: 1s;
}

.text__no-margin__bottom {
  margin-bottom: 0;
}

.text__no-margin {
  margin: 0;
}

.text__margin-1rem {
  margin: 1rem;
}
